import { Checkout } from './classes/checkout'
export {
    Checkout,
}

const config = {
    url: "http://localhost:8081/#/",
    apiKey: "e0f89d5328398b93634f56ba06c9474ec9388d5e",
    type: "payment",
    backgroundColor: "#F34616",
    color: "#F3F7F6"
}
const tonderCheckout = new Checkout(config)
const params = {
    shippingCost: "129.99",
    email: "fuentesc91@gmail.com"
}
tonderCheckout.setOrder(params)

let products = {products: [
    {
        name: 'first product',
        price_unit: 120.99,
        quantity: 1
    },
    {
        name: 'second product',
        price_unit: 12.99,
    }
]}

tonderCheckout.setOrder(products)

products = {products: [
    {
        name: 'first product',
        price_unit: 120.99,
        quantity: 3
    },
    {
        name: 'second product',
        price_unit: 12.99,
    }
]}

tonderCheckout.setOrder(products)

console.log(tonderCheckout.getUrlParams())

tonderCheckout.mountButton({ buttonText: 'Proceder al pago' })