import { Checkout } from './classes/checkout'
export {
    Checkout,
}

const config = {
    apiKey: "faa467a1ba20f44478892f4400ed5483842146c7",
    type: "payment",
    backgroundColor: "#F34616",
    color: "#F3F7F6"
}
const tonderCheckout = new Checkout(config)
const params = {
    shippingCost: "129.99",
    email: "fuentesc91@gmail.com"
}
tonderCheckout.setOrder(params)


tonderCheckout.mountButton({ buttonText: 'Proceder al pago' })